# IDE
.idea/

# virtual environments
.guideon_AI/
.venv/
venv/
env/
ENV/
*.venv/

# python
__pycache__/
*.pyc

# credentials & environment
google_key.json
google-credentials.json
*.json
.env

# documentation
.guide_on 로컬 실행방법.txt

# audio files
*.wav
*.mp3
*.md
!README.md"check_chunk.py" 
"doc_1_chunks.txt" 
"check_chunk.py" 
"doc_1_chunks.txt" 
